<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_word/style.css' %}">
    <p> Random Word (attempt #{{request.session.counter}})</p>
    <div class="word">
        <h1>{{random}}</h1>
    </div>
    <form action ='/random_word' method ='post'>
        {% csrf_token %}
        <input type='submit' value='Generate'>
    </form>
    <form action ='/random_word/reset' method ='post'>
        {% csrf_token %}
        <input type='submit' value='Reset'>
    </form>
</body>
</html>